body {
    font-family: sans-serif;
    margin: auto;
}

/* header start */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0px
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
/* header end */

/* hero start */
.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 6em 0;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    width: 10em;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

p.hero-subtext {
    width: 25em;
}

button {
    font-weight: bold;
    color: #e5e7eb;
    background-color: #3882f6;
    width: 8em;
    border-radius: 8px;
    padding: 8px 1em;
}

.right-container {
    display: flex;
}

.hero-img {
    display: flex;
    justify-content: center;
    padding: 5em 8em;
    background-color: #6d747d;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}
/* hero end */

/* mid start */

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.mid-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 50px;
}

.mid-container {
    display: flex;
    gap: 3em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cell {
    border: 4px;
    border-radius: 12px;
    border-style: solid;
    border-color: #3882f6;
    width: 10em;
    height: 10em;
}

.mid-subtext {
    text-align: center;
    width: 9em;
}
